@model MvcCrud.Models.Employee

<h2>Delete Employee</h2>
@using (Html.BeginForm("delete", "Home", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(i => i.Id)

    <div class="form-group">
        <p>@Model.FirstName</p>
    </div>

    <div class="form-group">
        <p>@Model.LastName</p>
    </div>

    <div class="form-group">
        <p>@Model.EmailId</p>
    </div>

    <div class="form-group">
        <p>@Model.City</p>
    </div>

    <div class="form-group">
        <p>@Model.Country</p>
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}
